.o_main_navbar {
  border-bottom: none !important;
}

button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: background-color 0.3s ease;
  color: white;

  &:hover {
    .icon {
      font-size: 24px;
      color: #ffffff;
      transition: transform 0.5s ease-in-out;

      transform: rotate(360deg); // Gira el ícono
    }
  }

}